
button.remove {
  font-size: 0.7em;
  padding: 1px;
  line-height: 1em;
  vertical-align: middle;
  border: none;
  margin-right: 7px;
}

ul li {
  margin: 10px;
  border-bottom: 1px solid lightgrey;
  padding: 10px
}

ul button {
  margin: 0 5px;
}
